<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>361 Final Project</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,500,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="{{url_for('static', filename='loadData.js')}}"></script>
        <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-blue.min.css" />
        <script src="//storage.googleapis.com/code.getmdl.io/1.1.1/material.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div class="submit">
            <h1>Enter Steam Profile URL</h1>
            <form action="/analyze/" method="post">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label class="mdl-textfield__label">Steam Profile URL: </label>
                    <input type="text" size="40" class="mdl-textfield__input" name="profileURL">
                </div>
                <p><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="submitButton"/>Recommend</button></p>
            </form>
        </div>
        <div id="container" class="submit">
            {% if flag %}
                {% if testData != "" %}
                <script type="text/javascript">
                    loadJSON({{ testData|safe }});
                </script>
                <h1>Recommendations</h1>
                <div id="results"></div>
                <br>
                <br>
                {% endif %}
            {% else %}
            {% endif %}
        </div>
    </body>
</html>